{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/goal.css' %}">
    <title>Create Goal</title>
</head>
<body>

    <div class = "goal-title">
        <h1>Create a new goal</h1>
    </div>

    <div class="form-container">
        <form method="post">
            {% csrf_token %}

            
            <div class="form-group">
                <div class="label-container">
                    <label for="id_title">Title</label>
                </div>
                <div class="textbox-container">
                    <input type="text" required id="id_title" name="title" class="textbox">
                </div>
            </div>

            <div class="form-group">
                <div class="label-container">
                    <label for="id_target_amount">Target amount</label>
                </div>
                <div class="textbox-container">
                    <input type="number" required id="id_target_amount" name="target_amount" class="textbox">
                </div>
            </div>

            <div class="button-container">
                <button type="submit" class="button">
                    <span class="button-label">Add</span>
                </button>
                <a href="{% url 'home' %}">Go to Home Page</a>

            </div>



             {% comment %} <label for="id_title">Title:</label><br>
            {{ form.title }}<br>
            <label for="id_target_amount">Target Amount:</label><br>
            {{ form.target_amount }}<br>
            <button type="submit">Create Goal</button>  {% endcomment %}
        </form>
    </div>
</body>
</html>
