<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Home Page</h1>

    <!-- Check if the user is authenticated -->
    {% if user.is_authenticated %}
        <!-- If the user is logged in, display a link to the income page -->
        <p><a href="{% url 'income' %}">Go to Income Page</a></p>
        <p><a href="{% url 'create_expense' %}">Go to Expense Page</a></p>
        <p><a href="{% url 'upload_image' %}">Upload a receipt picture</a></p>
        <p><a href="{% url 'chat_view' %}">Learn about budgeting</a></p>
        <p><a href="{% url 'split_income' %}">Split income</a></p>
        <p><a href="{% url 'create_goal' %}">Create a goal</a></p>
        
    {% else %}
        <!-- If the user is not logged in, display a link to the login page -->
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
</body>
</html>
