<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Income</title>
    
</head>
<body>

    <div id="recommendation">
        <h2>Recommendation:</h2>
        <p>{{ recommendation1 }}</p>
        <br>
        <p>{{ recommendation2 }}</p>
    </div>


    <h1>Split Your Income</h1>

    <p>Last Month's Remaining Income: <span id="income_left">{{ last_month_income.income_left }}</span></p>

    <form id="income_form" method="post">
        {% csrf_token %}
        <label for="economies_amount">Amount for Economies:</label>
        <input type="number" id="economies_amount" name="economies_amount" min="0" oninput="updateGoalAmount()">
        <br>
        <label for="goal_amount">Amount for Goal:</label>
        <input type="number" id="goal_amount" name="goal_amount" min="0" oninput="updateEconomiesAmount()">
        <br>
        <button type="submit">Split Income</button>
    </form>

    <script>
        function updateGoalAmount() {
            var economiesAmount = parseFloat(document.getElementById('economies_amount').value);
            var incomeLeft = parseFloat(document.getElementById('income_left').innerText);
            var goalAmount = incomeLeft - economiesAmount;
            
            if (isNaN(goalAmount)) {
                document.getElementById('goal_amount').value = '';
            } else {
                document.getElementById('goal_amount').value = goalAmount;
            }
        }

        function updateEconomiesAmount() {
            var goalAmount = parseFloat(document.getElementById('goal_amount').value);
            var incomeLeft = parseFloat(document.getElementById('income_left').innerText);
            var economiesAmount = incomeLeft - goalAmount;
            
            if (isNaN(economiesAmount)) {
                document.getElementById('economies_amount').value = '';
            } else {
                document.getElementById('economies_amount').value = economiesAmount;
            }
        }

        document.getElementById('economies_amount').addEventListener('input', updateGoalAmount);
        document.getElementById('goal_amount').addEventListener('input', updateEconomiesAmount);

    </script>

</body>
</html>
