{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'accounts/split_income.css' %}">
    <title>Split Income</title>
    
</head>
<body>

    <div class = "income-title">
        Split Remaining Income
    </div>


    <div class = "remainings-grouped">
        <div class = "remainings">
            Last month remainings:&nbsp;&nbsp;&nbsp; <span id="income_left">{{ last_month_income.income_left }} $</span>
        </div>
    </div>

    {% comment %} {{ last_month_income.income_left }} {% endcomment %}

    <form id="income_form" method="post">
        {% csrf_token %}

        <div class = "big-content">
            <div class = "content-split">
                <div class = "lablesitextbox-group">
                    <div class = "label">
                        <label for="economies_amount">Emergency</label>
                    </div>
                    <div class = "textbox">
                        <input type="number" id="economies_amount" name="economies_amount" min="0" step="0.01" oninput="updateGoalAmount()" class = "textbox">
                    </div>
                    <div class = "label">
                        Total: {{ total_economies }} $
                    </div>
                </div>

                <div class = "lablesitextbox-group">
                    <div class = "label">
                        <label for="goal_amount">Goal</label>
                    </div>
                    <div class = "textbox">
                        <input type="number" id="goal_amount" name="goal_amount" min="0" step="0.01" oninput="updateEconomiesAmount()" class = "textbox">
                    </div>
                    <div class = "label">
                        Total: {{ total_goal_savings }} $
                    </div>
                </div>
            </div>

            <div class = "content-split">
                <button type="submit" class="button">
                    <span class="button-label">Split</span>
                </button>
                <a href="{% url 'home' %}" style="margin-left: 60px;">Go to Home Page</a>


            </div>

        </div>


        {% comment %} <br>
        <label for="goal_amount">Amount for Goal:</label>
        <input type="number" id="goal_amount" name="goal_amount" min="0" oninput="updateEconomiesAmount()">
        <br> {% endcomment %}
        {% comment %} <button type="submit">Split Income</button> {% endcomment %}
    </form>

    <div id="recommendation">

        <div class = "title-recommendation">
            Recommendation with numeric values:
        </div>
        <div class = "recommendation">
        <pre>{{ recommendation1 }}</pre>
        {% comment %} {{ recommendation1 }} {% endcomment %}
        </div>

        <div class = "title-recommendation">
            Recommendation with fuzzy logic:
        </div>
        <div class = "recommendation">
            {% comment %} {{ recommendation2 }} {% endcomment %}
            <pre>{{ recommendation2 }}</pre>
        </div>
    </div>





    <script>
        function updateGoalAmount() {
            var economiesAmount = parseFloat(document.getElementById('economies_amount').value);
            var incomeLeft = parseFloat(document.getElementById('income_left').innerText);
            var goalAmount = incomeLeft - economiesAmount;
            
            if (isNaN(goalAmount)) {
                document.getElementById('goal_amount').value = '';
            } else {
                document.getElementById('goal_amount').value = goalAmount;
            }
        }

        function updateEconomiesAmount() {
            var goalAmount = parseFloat(document.getElementById('goal_amount').value);
            var incomeLeft = parseFloat(document.getElementById('income_left').innerText);
            var economiesAmount = incomeLeft - goalAmount;
            
            if (isNaN(economiesAmount)) {
                document.getElementById('economies_amount').value = '';
            } else {
                document.getElementById('economies_amount').value = economiesAmount;
            }
        }

        document.getElementById('economies_amount').addEventListener('input', updateGoalAmount);
        document.getElementById('goal_amount').addEventListener('input', updateEconomiesAmount);

    </script>

</body>
</html>
