<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split Income</title>
    
</head>
<body>
    <h1>Split Your Income</h1>

    <p>Last Month's Remaining Income: <span id="income_left">{{ last_month_income.income_left }}</span></p>

    <form method="post" oninput="updateOtherInput()">
        {% csrf_token %}
        <label for="economies_amount">Amount for Economies:</label>
        <input type="number" id="economies_amount" name="economies_amount" min="0"  required>
        <br>
        <label for="goal_amount">Amount for Goal:</label>
        <input type="number" id="goal_amount" name="goal_amount" min="0"  required>
        <br>
        <button type="submit">Split Income</button>
    </form>

    <script>
        // Function to calculate and fill in the remaining value in the other input field
        function updateOtherInput() {
            var incomeLeft = document.getElementById("income_left").innerText;
            var economiesAmount = document.getElementById("economies_amount").value;
            var goalAmount = document.getElementById("goal_amount").value;
            console.log(income_left);
            console.log(economies_amount);
            console.log(goal_amount);
    
            if (!isNaN(economiesAmount)) {
                document.getElementById("goal_amount").value = (incomeLeft - economiesAmount);
                //document.getElementById("economies_amount").value = (economiesAmount);
            } 
            else if (!isNaN(goalAmount)) {
                document.getElementById("economies_amount").value = (incomeLeft - goalAmount);
                //document.getElementById("goal_amount").value = (goalAmount);
            }
            
        }
    
        // Add event listeners to input fields to trigger updateOtherInput function
        {% comment %} document.getElementById("economies_amount").addEventListener("input", updateOtherInput);
        document.getElementById("goal_amount").addEventListener("input", updateOtherInput); {% endcomment %}
    </script>
    

</body>
</html>
